## 1. 워드클라우드 단어 count 파일, 감성분석 최고 기여 단어 파일 병합, 약간의 전처리

In [3]:
import pandas as pd

df1 = pd.read_excel('금산천벚꽃축제 뉴스제목 워드클라우드.xlsx')
df2 = pd.read_excel('금산천벚꽃축제 감성분석 최고 기여 단어.xlsx')

# 'text' 열과 'top_words' 열을 기준으로 병합
merged_df = pd.merge(df1, df2, left_on='text', right_on='top_word', how='inner')

# 중복된 행 제거
merged_df.drop_duplicates(inplace=True)

# 'text' 칼럼 삭제
merged_df.drop(columns=['text'], inplace=True)

# 칼럼 순서 조정
merged_df = merged_df.reindex(columns=['top_word', 'count', 'label', 'confidence'])

# 결과를 엑셀 파일로 저장
merged_df.to_excel('금산천벚꽃축제 워드클라우드, 감성분석 병합.xlsx', index=False)

In [4]:
merged_df

,top_word,count,label,confidence
0,관광,2,positive,"{'negative': 0.017568525, 'positive': 99.93719..."
1,낙인,1,negative,"{'negative': 99.98196, 'positive': 0.007564219..."
2,벚꽃,76,negative,"{'negative': 99.55104, 'positive': 0.014449846..."
3,벚꽃,76,neutral,"{'negative': 0.049262956, 'positive': 0.355589..."
4,벚꽃,76,neutral,"{'negative': 0.10129359, 'positive': 5.45444, ..."
...,...,...,...,...
95,석촌호수,1,neutral,"{'negative': 0.033925086, 'positive': 0.033209..."
96,추천,1,positive,"{'negative': 0.04697905, 'positive': 98.35619,..."
97,경남,1,neutral,"{'negative': 0.059205964, 'positive': 0.991595..."
98,사색,1,neutral,"{'negative': 0.05601185, 'positive': 0.4311116..."
99,일정,1,neutral,"{'negative': 0.09574045, 'positive': 0.0446443..."